/*
!/**/
/.idea/

/database

!/.dockerignore
!/docker-compose.yml

!/pre-commit
!/build-env-file
!/Makefile
!/Jenkinsfile
!/docker-compose-stage.yml
!/docker-compose-test.yml

!/**/.gitignore
!/**/.gitkeep
!/**/*.dist
!/**/*.dist.php
!/**/*.md

/**/.env
